.menu-container {
    border: 5px solid $pink;
    padding: 10px 0;
    background-color: $white;
    color: $grey;
    position: relative;
    &::before {
        content: "\f522";
        @include fontAwesome;
        left: 50px;
    }
    &::after {
        content: "\f6e2";
        @include fontAwesome;
        right: 50px;
        color: $brightPink;
    }
}

h1 {
    font-size: 1.6rem;
}

ul,
li {
    list-style: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: palevioletred;
    font-weight: bold;
}