@import "mixins";
@import "variables";
.popup-box {
    @include boardStyle;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    margin: auto;
    justify-content: baseline;
    border: 5px solid black;
    &::after {
        @include fontAwesome;
        content: "\f091";
        color: rgb(218, 178, 0);
        position: absolute;
        bottom: 35px;
    }
    .main-text {
        font-size: 3rem;
        color: black;
    }
    .info-text,
    .user-text {
        font-size: 2rem;
    }
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}