//variables
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$grey: #1b2021;
$pink: #f58dc6;
$light-pink: #f5c7f7;
$blue: #5eafb9;
$white: rgb(248,
248,
248);
$sans-font: 'Open Sans',
sans-serif;