@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.dark-mode {
  background-color: #1b2021;
  color: #5eafb9;
}

.dark-mode .menu-container {
  background-color: #1b2021;
  color: #f8f8f8;
}

.dark-mode input:checked + .slider {
  background-color: white;
}

.dark-mode input:checked + .slider:before {
  background-color: #f58dc6;
}

.dark-mode input:checked + .slider::after {
  content: "LIGHT MODE";
  position: absolute;
  color: #f8f8f8;
  top: 40px;
  right: 4px;
  font-weight: bold;
}

.dark-mode #gameBoard {
  background-color: #4e4e4e;
}

.dark-mode #canvas {
  background-color: #afafaf;
}

.dark-mode .cell {
  background-color: #afafaf;
}

.dark-mode .popup-box {
  background-color: #1b2021;
}

.dark-mode button {
  color: #f58dc6;
}

#gameBoard {
  width: 500px;
  height: 500px;
  border-radius: 20px;
  background-color: #f8f8f8;
  background-color: #f5c7f7;
  padding: 10px;
}

.cell {
  height: 100px;
  width: 100px;
  background-color: #f8f8f8;
  font-size: 4rem;
  color: #4e4e4e;
  cursor: pointer;
}

#canvas {
  width: 500px;
  height: 500px;
  border-radius: 20px;
  background-color: #f8f8f8;
}

.menu-container {
  border: 5px solid #f58dc6;
  padding: 10px 0;
  background-color: #f8f8f8;
  color: #1b2021;
  position: relative;
  border-radius: 20px;
}

.menu-container::before {
  content: "\f522";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 5rem;
  left: 50px;
}

.menu-container::after {
  content: "\f6e2";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 5rem;
  right: 50px;
  color: #ff59b4;
}

h1 {
  font-size: 1.6rem;
}

ul,
li {
  list-style: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: palevioletred;
  font-weight: bold;
}

.switch {
  position: absolute;
  top: 30px;
  right: 30px;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #f5c7f7;
  width: 60px;
  height: 34px;
  -webkit-transition: .4s;
  transition: .4s;
  top: 30px;
  right: 80px;
}

@media (max-width: 900px) {
  .slider {
    top: 20px;
    right: 20px;
  }
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider::after {
  content: "DARK MODE";
  position: absolute;
  color: #1b2021;
  top: 40px;
  right: 4px;
  font-weight: bold;
}

.round {
  border-radius: 34px;
}

.round::before {
  border-radius: 50%;
}

input {
  visibility: hidden;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px white;
          box-shadow: 0 0 1px white;
}

input:checked + .slider {
  background-color: #1b2021;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.popup-box {
  width: 500px;
  height: 500px;
  border-radius: 20px;
  background-color: #f8f8f8;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  margin: auto;
  border: 30px solid #f58dc6;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.popup-box::after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 5rem;
  content: "\f091";
  color: #dab200;
  position: absolute;
  bottom: 35px;
}

.popup-box .main-text {
  font-size: 3rem;
  color: #ff59b4;
}

.popup-box .info-text,
.popup-box .user-text {
  font-size: 2rem;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.display-none {
  display: none;
}

body {
  overflow: hidden;
  background-color: #5eafb9;
  text-align: center;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  padding: 10px;
}

body div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px auto;
  max-width: 1000px;
}
/*# sourceMappingURL=main.css.map */