@import "dark-mode";
@import "tictactoe-board";
@import "canvas-board";
@import "menu";
@import "switch";
@import "variables";
@import "popup";
@import "mixins";
body {
    overflow: hidden;
    background-color: $blue;
    text-align: center;
    padding: 0;
    font-family: $sans-font;
    padding: 10px;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px auto;
        max-width: 1000px;
    }
}